[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

jupyterlab = "~=4.2.4"
codeflare-sdk = ">=0.18.0"


# Base packages
wheel = "~=0.44.0"
setuptools = "~=73.0.0"

[requires]
python_version = "3.11"